<header>
    <strong>UniSenai</strong> - Módulo 5 (SSR / Templating)

    <nav style="margin-top:10px">
        <a href="/" style="color:#fff;margin-right:10px">Home</a>
        <a href="/about" style="color:#fff;margin-right:10px">About</a>
        <a href="/usuarios" style="color:#fff;margin-right:10px">Usuários</a>
        <a href="/usuarios/novo" style="color:#fff;margin-right:10px">Cadastrar</a>
        <a href="/ex-api" style="color:#fff">API (mock)</a>
    </nav>
</header>